* {
   
    margin: 0;
    padding: 0;
}


.body {
     
    margin: 0 auto;
    padding: 0px;
    width: auto;
    height: auto;
   
}
/*Contenedor 2 aqui vamos a desarrollar el contenido principal*/
.content_block_2 {
   
    margin: 0 auto;
    max-width: 1600px;
    padding: 0px;
    width: 100%;
    height: auto;
    z-index: 1;
    
}
.content_block_2 h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
     z-index: 2;
}
