*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.img_product_C_1{
    background-image: url(../img/Hamburguesas/Clasicas/clasica.jpg); /*Aqui va la clasica nueva*/
}
.img_product_C_2{
 
    background-image: url(../img/Hamburguesas/Clasicas/jamón-queso.jpg);
}
.img_product_C_3{
  
    background-image: url(../img/Hamburguesas/Clasicas/asadera.jpg);
}
.img_product_C_4{
   
    background-image: url(../img/Hamburguesas/Clasicas/Especial.jpg);
}
.img_product_C_5{
    background-image: url(../img/Hamburguesas/Clasicas/hawai.jpg);
}
.img_product_C_6{
    background-image: url(../img/Hamburguesas/Clasicas/champiqueso.jpg);
}
.img_product_C_7{
    background-image: url(../img/Hamburguesas/Clasicas/choriqueso.jpg);
}
.img_product_C_8{
    background-image: url(../img/Hamburguesas/Clasicas/chuleta.jpg);
}
.img_product_C_9{
    background-image: url(../img/Hamburguesas/Clasicas/carnes_frías.jpg);
}
.img_product_C_10{
    background-image: url(../img/Hamburguesas/Clasicas/guacamole_bacon.jpg);
}
.img_product_C_11{
    background-image: url(../img/Hamburguesas/Clasicas/española.jpg);
}
.img_product_C_12{
    background-image: url(../img/Hamburguesas/Clasicas/norteña.jpg);
}
.img_product_C_13{
    background-image: url(../img/Hamburguesas/Clasicas/doble_de_res.jpg);
}


