*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.img_product_C_1{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg); /*Aqui va la clasica*/
}
.img_product_C_2{
 
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_3{
  
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_4{
   
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_5{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_6{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_7{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_8{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_9{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_10{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_11{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_12{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}
.img_product_C_13{
    background-image: url(../img/tercera_comprecion_de_imagenes/Clasicas/norteña.jpg);
}


