*{ 
    margin: 0 auto;
    padding: 0px;
}
.footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 350px;
    background-color: #000000;
    overflow: hidden;
    
}
.content_block_footer {
    margin: 0 auto;
    padding: 0px;
    max-width: 1900px;
    padding: 0px;
    width: 100%;
    height: 100%;

}
.block_1_footer { /*Faltan imagenes y links*/
    margin: 0px;
    padding: 0px;
    margin-left: 36px;
    margin-right: 36px;
    width: 560px;
    height: auto;
    float: left;
}
.img_logo_footer {
    margin-left: 90px;
    padding: 0px;
    width: 300px;
    height: 200px;
    background-image: url(../components/logo\ boloburgers.svg);
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    
  
}
.list_redes_footer{
    margin-left: 50px;
    padding: 0px;
    overflow: hidden;
}
.list_redes_footer li {
    list-style: none;
    float: left;
    margin-right: 20px;
}



.facebook_footer {
    margin-top: 20px;
    padding: 0px;
    margin-right: 25px ;
    width: 75px;
    height: 75px;
    background-image: url(../components/logo\ facebook.svg);
    background-repeat: no-repeat;
    border-radius: 25%;
    float: left;
    
}

.instagram_footer {
    margin-top: 20px;
    padding: 0px;
    margin-right: 25px ;
    width: 80px;
    height: 80px;
    background-image: url(../components/logo\ instagram.svg);
    background-repeat: no-repeat;
    border-radius: 25%;
    float: left;
}
.block_2_footer {  /*Listo solo falta Responsivo*/
    margin: 0px;
    padding: 0px;
    margin-top:20px ;
    margin-left: 36px;
    margin-right: 36px;
    width: 560px;
    height: 90%;
    
    float: left;
}
.text_block_2_footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}
iframe {
    
    border-radius: 10px;
}
/*Bloque 3*/
.block_3_footer {
    margin-top: 25px;
    padding: 0px;
    margin-left: 36px;
    margin-right: 36px;
    width: 560px;
    height: auto;
   
    float: left;
   
}
.list_footer_horario {
    
    margin-top: 30px;
    padding: 0px;
    width: 100%;
    height: auto;
    color: #fff;
    list-style: none;
}
.titule_footer_horario {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.list_footer_horario li {
    margin-bottom: 10px;
    padding-left: 80px;
}
.list_footer_horario li p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
}