@media screen and (max-width: 768px) {
    
    .footer {
        
        height: auto;
        width: 100%;
        padding: 0px;
    }
    .block_1_footer {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    .img_logo_footer {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 200px;
        
    }
    .list_redes_footer {
        padding: 0px;
        margin-left: 20%;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .facebook_footer {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 0px;
    }
    .instagram_footer {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 0px 30px 0px 30px;
    }
    .block_2_footer {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
        margin: 0px;
    }
    .text_block_2_footer {
        font-size: 0px;
    }
    .block_3_footer {
        width: 100%;
        height: auto;
        margin: 0px;
       
    }
    .text_footer_horario {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
       
    }
    .titule_footer_horario {
        padding: 0px;
        margin: 0px;
        font-size: 24px;
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .list_footer_horario li {
        padding: 0px;
        margin-left: 50px;
    }
    .list_footer_horario li p {
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        margin-bottom: 10px;
    
    }
    
}