/* Botón hamburguesa oculto por defecto */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  float: right;
  margin-top: 60px;
  margin-right: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) and (max-width: 800px) {
  .img {
    margin: 0 auto;
    display: block;
  }
     html{
        scroll-behavior: smooth;
    }
    .img_logo_nav{
    width: 67vw;
    height: 67px;
    max-width: 200px;
    
  }
  .btn_redirect_header{
    position: fixed;
    height: 75px;
    width: 75px;
    background-image: url(/img/components/flecha_home.png);
    background-size: cover;
    background-repeat:no-repeat;
    right: 30px;
    bottom: 75px;

  }
 

  .hamburger {
    display: block;
  }
  .img_logo_nav {
    width: 67vw;
    max-width: 200px;
    height: 67px;
 
  }
  .menu {

    width: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px 0;
  }

  .menu.active {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    text-align: center;
  }

  .menu ul .li {
   
    margin: 15px 0;
    font-size: 20px;
  }

  .sub_menu {
    position: static;
    margin: 0 auto;
    width: 90%;
    height: auto;
    overflow: visible;
    display: none;
  }

  .menu ul .li:hover .sub_menu {
    display: block;
    height: auto;
  }
}
@media screen and (max-width:728px) {
      html{
        scroll-behavior: smooth;
    }
    .img_logo_nav{
    width: 67vw;
    height: 67px;
    max-width: 200px;
    
  }
  .btn_redirect_header{
    position: fixed;
    height: 75px;
    width: 75px;
    background-image: url(/img/components/flecha_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 30px;
    bottom: 75px;

  }
 
    .muestras_menu {
        margin-top: 0px;
        float: left;
      
        height: auto;
        padding: 8px;
        
    }
    /*Hamburguesas*/
   .img_product_C_1, .img_product_C_2, .img_product_C_3, .img_product_C_4, .img_product_C_5 ,  .img_product_C_6 ,  .img_product_C_7 , .img_product_C_8 ,   .img_product_C_9 , .img_product_C_10    ,.img_product_C_11, .img_product_C_12 , .img_product_C_13 {
        margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
       
       
    }
    .img_product_AC_1, .img_product_AC_2, .img_product_AC_3, .img_product_AC_4, .img_product_AC_5 ,  .img_product_AC_6 ,  .img_product_AC_7 , .img_product_AC_8 ,   .img_product_AC_9 , .img_product_AC_10    ,.img_product_AC_11, .img_product_AC_12{
       margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
    .img_product_DLM_1, .img_product_DLM_2, .img_product_DLM_3, .img_product_DLM_4, .img_product_DLM_5 ,  .img_product_DLM_6 ,  .img_product_DLM_7 , .img_product_DLM_8 ,   .img_product_DLM_9 , .img_product_AC_10    ,.img_product_DLM_11, .img_product_DLM_12{
     
        margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
    .img_product_DLC_1, .img_product_DLC_2, .img_product_DLC_3, .img_product_DLC_4, .img_product_DLC_5 ,  .img_product_DLC_6 ,  .img_product_DLC_7 , .img_product_DLC_8 ,   .img_product_DLC_9 , .img_product_DLC_10    ,.img_product_DLC_11, .img_product_DLC_12{
        margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
    .img_product_DP_1, .img_product_DP_2, .img_product_DP_3, .img_product_DP_4, .img_product_DP_5 ,  .img_product_DP_6 ,  .img_product_DP_7 , .img_product_DP_8 ,   .img_product_DP_9 , .img_product_DP_10    ,.img_product_DP_11, .img_product_DP_12{
        margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
    .img_product_I_1, .img_product_I_2, .img_product_I_3, .img_product_I_4, .img_product_I_5 ,  .img_product_I_6 ,  .img_product_I_7 , .img_product_I_8 ,   .img_product_I_9 , .img_product_I_10    ,.img_product_I_11, .img_product_I_12 {
         margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
    /*Bebidas*/
  .img_product_B_LT_1, .img_product_B_LT_2, .img_product_B_LT_3, .img_product_B_LT_4, .img_product_B_LT_5 ,  .img_product_B_LT_6 ,  .img_product_B_LT_7 , .img_product_B_LT_8 ,   .img_product_B_LT_9 , .img_product_B_LT_10    ,.img_product_B_LT_11, .img_product_B_LT_12 {
        margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
.img_product_B_L_1, .img_product_B_L_2, .img_product_B_L_3, .img_product_B_L_4, .img_product_B_L_5 ,  .img_product_B_L_6 ,  .img_product_B_L_7 , .img_product_B_L_8 ,   .img_product_B_L_9 , .img_product_B_L_10    ,.img_product_B_L_11, .img_product_B_L_12 {
    margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
.img_product_B_M_1, .img_product_B_M_2, .img_product_B_M_3, .img_product_B_M_4, .img_product_B_M_5 ,  .img_product_B_M_6 ,  .img_product_B_M_7 , .img_product_B_M_8 ,   .img_product_B_M_9 , .img_product_B_M_10    ,.img_product_B_M_11, .img_product_B_M_12 {
        margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
  .img_product_B_DLC_B_1, .img_product_B_DLC_B_2, .img_product_B_DLC_B_3, .img_product_B_DLC_B_4, .img_product_B_DLC_B_5 ,  .img_product_B_DLC_B_6 ,  .img_product_B_DLC_B_7 , .img_product_B_DLC_B_8 ,   .img_product_B_DLC_B_9 , .img_product_B_DLC_B_10    ,.img_product_B_DLC_B_11, .img_product_B_DLC_B_12 {
   margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
.img_product_T_1, .img_product_T_2, .img_product_T_3, .img_product_T_4, .img_product_T_5 ,  .img_product_T_6 ,  .img_product_T_7 , .img_product_T_8 ,   .img_product_T9 , .img_product_T_10    ,.img_product_T_11, .img_product_T_12 {
margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
.img_product_E_1, .img_product_E_2, .img_product_E_3 {
margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }
    /*Snacks*/
  .img_product_S_1, .img_product_S_2, .img_product_S_3, .img_product_S_4, .img_product_S_5 ,  .img_product_S_6 ,  .img_product_S_7 , .img_product_S_8 ,   .img_product_S_9 , .img_product_S_10    ,.img_product_S_11, .img_product_S_12 , .img_product_S_13    ,.img_product_S_14, .img_product_S_15 , .img_product_S_16    ,.img_product_S_17 , .img_product_S_18 , .img_product_S_19 ,.img_product_S_20 {
margin-top: 50px;
        float: left;
        height: 350px;
        width: 370px;
        margin-left: 1px;
    }

    .text_description {
        width: 100%;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
    }
    .text_description p {
        font-size: 30px;
        
    }
    
   
}
@media screen and (max-width: 450px) {
     html{
        scroll-behavior: smooth;
    }
    .img_logo_nav{
    width: 67vw;
    height: 67px;
    max-width: 200px;
    
  }
  .btn_redirect_header{
    position: fixed;
    height: 75px;
    width: 75px;
    background-image: url(/img/components/flecha_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 30px;
    bottom: 75px;
   
  }
  
  .img_logo_nav{
    width: 67vw;
    max-width: 200px;
    height: 67px;
  }
  /*Hamburguesas*/
  .img_product_C_1, .img_product_C_2, .img_product_C_3, .img_product_C_4, .img_product_C_5 ,  .img_product_C_6 ,  .img_product_C_7 , .img_product_C_8 ,   .img_product_C_9 , .img_product_C_10    ,.img_product_C_11, .img_product_C_12  {
    width: 100%;
    max-width: 350px;
  }
  .img_product_DLM_1, .img_product_DLM_2, .img_product_DLM_3, .img_product_DLM_4, .img_product_DLM_5 ,  .img_product_DLM_6 ,  .img_product_DLM_7 , .img_product_DLM_8 ,   .img_product_DLM_9 , .img_product_DLM_10    ,.img_product_DLM_11, .img_product_DLM_12 {
    width: 100%;
    max-width: 350px;
  }
  .img_product_DLC_1, .img_product_DLC_2, .img_product_DLC_3, .img_product_DLC_4, .img_product_DLC_5 ,  .img_product_DLC_6 ,  .img_product_DLC_7 , .img_product_DLC_8 ,   .img_product_DLC_9 , .img_product_DLC_10    ,.img_product_DLC_11, .img_product_DLC_12 {
    width: 100%;
    max-width: 350px;
  }
  .img_product_DP_1, .img_product_DP_2, .img_product_DP_3, .img_product_DP_4, .img_product_DP_5 ,  .img_product_DP_6 ,  .img_product_DP_7 , .img_product_DP_8 ,   .img_product_DP_9 , .img_product_DP_10    ,.img_product_DP_11, .img_product_DP_12 {
    width: 100%;
    max-width: 350px;
    }
  .img_product_I_1, .img_product_I_2, .img_product_I_3, .img_product_I_4, .img_product_I_5 ,  .img_product_I_6 ,  .img_product_I_7 , .img_product_I_8 ,   .img_product_I_9 , .img_product_I_10    ,.img_product_I_11, .img_product_I_12 {
       width: 100%;
       max-width: 350px;
    }
  /*Bebidas*/
  .img_product_B_LT_1, .img_product_B_LT_2, .img_product_B_LT_3, .img_product_B_LT_4, .img_product_B_LT_5 ,  .img_product_B_LT_6 ,  .img_product_B_LT_7 , .img_product_B_LT_8 ,   .img_product_B_LT_9 , .img_product_B_LT_10    ,.img_product_B_LT_11, .img_product_B_LT_12 {
     width: 100%;
     max-width: 350px;
  }
  .img_product_B_L_1, .img_product_B_L_2, .img_product_B_L_3, .img_product_B_L_4, .img_product_B_L_5 ,  .img_product_B_L_6 ,  .img_product_B_L_7 , .img_product_B_L_8 ,   .img_product_B_L_9 , .img_product_B_L_10    ,.img_product_B_L_11, .img_product_B_L_12 {
   width: 100%;
     max-width: 350px;
  }
.img_product_B_M_1, .img_product_B_M_2, .img_product_B_M_3, .img_product_B_M_4, .img_product_B_M_5 ,  .img_product_B_M_6 ,  .img_product_B_M_7 , .img_product_B_M_8 ,   .img_product_B_M_9 , .img_product_B_M_10    ,.img_product_B_M_11, .img_product_B_M_12 {
 width: 100%;
     max-width: 350px;
  }
  .img_product_B_DLC_B_1, .img_product_B_DLC_B_2, .img_product_B_DLC_B_3, .img_product_B_DLC_B_4, .img_product_B_DLC_B_5 ,  .img_product_B_DLC_B_6 ,  .img_product_B_DLC_B_7 , .img_product_B_DLC_B_8 ,   .img_product_B_DLC_B_9 , .img_product_B_DLC_B_10    ,.img_product_B_DLC_B_11, .img_product_B_DLC_B_12 {
width: 100%;
     max-width: 350px;
  }
.img_product_T_1, .img_product_T_2, .img_product_T_3, .img_product_T_4, .img_product_T_5 ,  .img_product_T_6 ,  .img_product_T_7 , .img_product_T_8 ,   .img_product_T9 , .img_product_T_10    ,.img_product_T_11, .img_product_T_12 {
width: 100%;
     max-width: 350px;
  }
.img_product_E_1, .img_product_E_2, .img_product_E_3 {
width: 100%;
     max-width: 350px;
  }
  /*Snacks*/
  .img_product_S_1, .img_product_S_2, .img_product_S_3, .img_product_S_4, .img_product_S_5 ,  .img_product_S_6 ,  .img_product_S_7 , .img_product_S_8 ,   .img_product_S_9 , .img_product_S_10    ,.img_product_S_11, .img_product_S_12 , .img_product_S_13    ,.img_product_S_14, .img_product_S_15 , .img_product_S_16    ,.img_product_S_17 , .img_product_S_18 , .img_product_S_19 ,.img_product_S_20{
width: 100%;
     max-width: 350px;
  }
  .text_description p {
    font-size: 16px;
  }
  @media screen and (max-width: 932px) {
       html{
        scroll-behavior: smooth;
    }
    .img_logo_nav{
    width: 67vw;
    height: 67px;
    max-width: 200px;
    
  }
  .btn_redirect_header{
    position: fixed;
    height: 75px;
    width: 75px;
    background-image: url(/img/components/flecha_home.png);
    background-repeat: no-repeat;
    background-size: cover;
    right: 30px;
    bottom: 75px;
  
  }
 

   .img_product_C_1, .img_product_C_2, .img_product_C_3, .img_product_C_4, .img_product_C_5 ,  .img_product_C_6 ,  .img_product_C_7 , .img_product_C_8 ,   .img_product_C_9 , .img_product_C_10    ,.img_product_C_11, .img_product_C_12, .img_product_C_13 {
      width: 100%;
      height: 250px;
      max-width: 412px;
    }
    .img_product_DLM_1, .img_product_DLM_2, .img_product_DLM_3, .img_product_DLM_4, .img_product_DLM_5 ,  .img_product_DLM_6 ,  .img_product_DLM_7 , .img_product_DLM_8 ,   .img_product_DLM_9 , .img_product_DLM_10    ,.img_product_DLM_11, .img_product_DLM_12 {
      width: 100%;
      height: 250px;
      max-width: 412px;
    }
    .img_product_DLC_1, .img_product_DLC_2, .img_product_DLC_3, .img_product_DLC_4, .img_product_DLC_5 ,  .img_product_DLC_6 ,  .img_product_DLC_7 , .img_product_DLC_8 ,   .img_product_DLC_9 , .img_product_DLC_10    ,.img_product_DLC_11, .img_product_DLC_12 {
      width: 100%;
      max-width: 412px;
      height: 250px;
    }
    .img_product_AC_1, .img_product_AC_2, .img_product_AC_3, .img_product_AC_4, .img_product_AC_5 ,  .img_product_AC_6 ,  .img_product_AC_7 , .img_product_AC_8 ,   .img_product_AC_9 , .img_product_AC_10    ,.img_product_AC_11, .img_product_AC_12 {
      width: 100%;
      height: 250px;
      max-width: 412px;
    }
    .img_product_DP_1, .img_product_DP_2, .img_product_DP_3, .img_product_DP_4, .img_product_DP_5 ,  .img_product_DP_6 ,  .img_product_DP_7 , .img_product_DP_8 ,   .img_product_DP_9 , .img_product_DP_10    ,.img_product_DP_11, .img_product_DP_12 {
      width: 100%;
      height: 250px;
      max-width: 412px;
    }
     .img_product_I_1, .img_product_I_2, .img_product_I_3, .img_product_I_4, .img_product_I_5 ,  .img_product_I_6 ,  .img_product_I_7 , .img_product_I_8 ,   .img_product_I_9 , .img_product_I_10    ,.img_product_I_11, .img_product_I_12 {
      width: 100%;
      height: 250px;
      max-width: 412px;
    }
    /*Bebidas*/
     .img_product_B_LT_1, .img_product_B_LT_2, .img_product_B_LT_3, .img_product_B_LT_4, .img_product_B_LT_5 ,  .img_product_B_LT_6 ,  .img_product_B_LT_7 , .img_product_B_LT_8 ,   .img_product_B_LT_9 , .img_product_B_LT_10    ,.img_product_B_LT_11, .img_product_B_LT_12 {
      width: 100%;
      max-width: 412px;
      
    }
  .img_product_B_L_1, .img_product_B_L_2, .img_product_B_L_3, .img_product_B_L_4, .img_product_B_L_5 ,  .img_product_B_L_6 ,  .img_product_B_L_7 , .img_product_B_L_8 ,   .img_product_B_L_9 , .img_product_B_L_10    ,.img_product_B_L_11, .img_product_B_L_12 {
      width: 100%;
      max-width: 412px;
    }
  .img_product_B_M_1, .img_product_B_M_2, .img_product_B_M_3, .img_product_B_M_4, .img_product_B_M_5 ,  .img_product_B_M_6 ,  .img_product_B_M_7 , .img_product_B_M_8 ,   .img_product_B_M_9 , .img_product_B_M_10    ,.img_product_B_M_11, .img_product_B_M_12 {
     width: 100%;
      max-width: 412px;
    }
  .img_product_B_DLC_B_1, .img_product_B_DLC_B_2, .img_product_B_DLC_B_3, .img_product_B_DLC_B_4, .img_product_B_DLC_B_5 ,  .img_product_B_DLC_B_6 ,  .img_product_B_DLC_B_7 , .img_product_B_DLC_B_8 ,   .img_product_B_DLC_B_9 , .img_product_B_DLC_B_10    ,.img_product_B_DLC_B_11, .img_product_B_DLC_B_12 {
 width: 100%;
      max-width: 412px;
    }
.img_product_T_1, .img_product_T_2, .img_product_T_3, .img_product_T_4, .img_product_T_5 ,  .img_product_T_6 ,  .img_product_T_7 , .img_product_T_8 ,   .img_product_T9 , .img_product_T_10    ,.img_product_T_11, .img_product_T_12 {
width: 100%;
      max-width: 412px;
    }
.img_product_E_1, .img_product_E_2, .img_product_E_3 {
width: 100%;
      max-width: 412px;
    }
    /*Snacks*/
.img_product_S_1, .img_product_S_2, .img_product_S_3, .img_product_S_4, .img_product_S_5 ,  .img_product_S_6 ,  .img_product_S_7 , .img_product_S_8 ,   .img_product_S_9 , .img_product_S_10    ,.img_product_S_11, .img_product_S_12 , .img_product_S_13    ,.img_product_S_14, .img_product_S_15 , .img_product_S_16    ,.img_product_S_17, .img_product_S_18 , .img_product_S_19 ,.img_product_S_20 {
width: 100%;
      max-width: 412px;
    }
    

    .img_logo_footer {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 200px;
        
    }
    .list_redes_footer {
        padding: 0px;
        margin-left: 30%;
        width: 100%;
        height: auto;
        overflow: hidden;
        margin-top: 30px;
    }
    .facebook_footer, .instagram_footer, .WhatsApp_footer {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 0px;
    }
    .block_2_footer {
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }
    .text_block_2_footer {
        font-size: 0px;
    }
    .block_3_footer {
        width: 100%;
        height: auto;
        margin: 0px;
    }
    .text_footer_horario {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
    }
    .titule_footer_horario {
        padding: 0px;
        margin: 20px 15px 10px;
        font-size: 24px;
    }
  }
}