/* Botón hamburguesa oculto por defecto */
.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  float: right;
  margin-top: 60px;
  margin-right: 20px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .img {
    
    margin: 0 auto;
    display: block;
  }

  .hamburger {
    display: block;
  }
  .img_logo_nav {
    width: 310px;
    height: 50px;
 
  }
  .menu {

    width: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px 0;
  }

  .menu.active {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    text-align: center;
  }

  .menu ul .li {
   
    margin: 15px 0;
    font-size: 20px;
  }

  .sub_menu {
    position: static;
    margin: 0 auto;
    width: 90%;
    height: auto;
    overflow: visible;
    display: none;
  }

  .menu ul .li:hover .sub_menu {
    display: block;
    height: auto;
  }
}
@media screen and (max-width:728px) {
    .content_block_2 {
      background-color: red;
    }
    .muestras_menu {
        float: left;
        width: auto;
        height: auto;
        padding: 20px;
        margin-top: 50px;
    }
   .img_product {
        float: left;
        height: 90px;
        width: 90px;
        margin-left: 20px;
        margin-top: 20px;
        background-color: rebeccapurple;
    }
    .text_description {
        width: 100%;
        margin-left: 20px;
    }
    .text_description p {
        font-size: 16px;
    }
    .content_block_2 h1 {
        font-size: 24px;
    }
}